#  pandas
 
困ったら、公式ページ(例えば、[pandas0.23 API reference](https://pandas.pydata.org/pandas-docs/version/0.23.0/api.html))を見るのが一番である.

ただし、Pandasの機能は豊富すぎて網羅するとわかりにくくなる．ここではデータ解析でよく使うテクニックだけを紹介する．

まずpandasモジュール（パッケージ）をインポートする．慣例に従い *pd* という別名をつけておく．

In [ ]:
import pandas as pd

In [ ]:
df = pd.read_csv('http://logopt.com/data/iris.data', names=['がく片長','がく片幅','花びら長','花びら幅', '種類'])

In [ ]:
df.head() # headメソッドで最初の5つだけを表示（最後を表示するにはtailを使う；やってみよう！）

### 問題

ワインに関するデータセットから，wineデータを読み込んで，wineという名前でデータフレームに保管せよ．

元データはこちらに格納されている．

http://logopt.com/data/wine.data

列名は https://archive.ics.uci.edu/ml/datasets/Wine で解説されているが，必要ならば以下のリストを用いて，列名を設定して読み込め．

``` python 
L = [ 'Alcohol', 'Malic','Ash', 'Alcalinity', 'Magnesium', 'Phenols', 'Flavanoids', 'Nonflavanoid', 'Proanthocyanins', 'Color', 'Hue', 'OD280', 'OD315', 'Proline']  
```

さらに，最後の5つのデータを表示させて確認せよ．

### 問題

車の燃費に関するデータセットから，Auto MPGデータを読み込んで，carという名前でデータフレームに保管せよ．

元データはこちらに格納されている．

http://logopt.com/data/auto-mpg.data

データを確認してみると，このデータはカンマ(,)区切り（これがread_csv関数の規定値）ではなく，空白で区切られている．

このような場合には，read_csvの引数の delim_whitespace をTrueに設定しておく必要がある．

列名は https://archive.ics.uci.edu/ml/datasets/Auto+MPG で解説されているが，必要ならば以下のリストを用いて，列名を設定して読み込め．

``` python 
L = ['mpg', 'cylinders', 'displacement', 'horsepower','weight', 'acceleration','year','origin', 'name'] 
```

さらに，最初と最後の5つのデータを表示させて確認せよ．

### データフレームの属性

pandasのデータフレームは，Excelの表のようなものなので，行と列でアクセスできる．

行に付加されたラベルを**インデックス(index)**とよぶ．一番左端 $0,1,2,3.\ldots$ と表示されている太字の列がインデックスである．
これは**index属性**でアクセスできる．

In [ ]:
df = pd.read_csv('http://logopt.com/data/iris.data', names=['がく片長','がく片幅','花びら長','花びら幅', '種類'])
print(df.index) #インデックスは0から149までの整数であることが表示される． 
df.head()

列の名前は，番上に表示されている太字の行であり，これは**columns属性**でアクセスできる．

In [ ]:
df.columns

データ自身は，データフレームの**values属性**に保管されている．これはNumPyの多次元配列(ndarray)である(type関数を用いて確認してみる）．
したがって，データの最初の行を表示させるには，df.values[0]とすればよい．
0行4列目（最初のアヤメの名前）を表示させるには，df.values[0][4]とすればよい．

In [ ]:
print( type(df.values) ) #values属性はNumPyのn次元配列である．
df.values[0][4] #0行4列目の要素は 'Iris-sentosa'である．

データの概要を知るためのメソッドが**describe()**である．（メソッドなので関数と同じように最後に ()を付けるのを忘れずに．）

In [ ]:
df.describe() #count（データ数），mean（平均），std（標準偏差），min（最小値）など

### 問題

車の燃費データに対して，アヤメのデータと同じように，インデックス，列の名前とデータの概要を表示せよ．

さらに，その情報を用いて燃費(MPG: Mile Per Gallon)の平均と標準偏差を答えよ．

### 列へのアクセス

列は辞書と同じようにアクセスできる．

たとえば，'がく片幅'と名付けられた列を切り出すには，** df['がく片幅'] ** とすればよい．

この記法の短縮版として，データフレームの属性としてアクセスする方法もある．

たとえば，

``` python
 df.がく片幅
```

とすると同じ結果が返される．

切り出された列は**シリーズ(series)**とよばれ，NumPyの配列と同じような性質をもつ．

たとえば，'がく片長'と名付けられた列のi番目からj-1番目までを切り出したい場合には，

```python
 df['がく片長'][i:j] 
```

とすればよい．

In [ ]:
df['がく片長'][:10]  #列名が'がく片長'の列の最初の9個のデータから成るシリーズ（series：インデックスとデータの組）

In [ ]:
df.がく片長[:3]

### 行列の要素（Excelのセルに相当）へのアクセス

行と列を指定して要素を抽出するには，**loc**，**iloc**，**ix**属性を用いる．

文法はいずれも同じで，以下の通り．

```python
df.iloc[行の切り出し,列の切り出し]  #番号でのアクセス
df.loc[行の切り出し,列の切り出し]   #ラベルを用いたアクセス
df.ix[行の切り出し,列の切り出し]    #混合型（混乱するので使用すべきでない！）
```

行と列はラベルもしくは番号でアクセスできる．**ラベル**とは，行に対してはインデックス，列に対しては列名を指す．

* ilocは番号によるアクセスを行う．

切り出しは，リストと同様に，番号 $i:j$ とすると $i$番目から$j-1$番目までが抽出される．

* locはラベルによるアクセスを行う．

切り出しは，リストやilocと異なり，境界も含んだものになる．すなわち，$i:j$ とするとラベル $i$からラベル $j$ までが抽出される．

* ixはラベルと番号の両方でアクセス可能である．

ただし，インデックスが整数の場合には，インデックス（ラベル）が優先される．

つまり，番号 $i:j$ とすると $i$番目から$j$番目（注意！最後の要素が含まれる！）までが抽出される．

インデックスが整数の場合には，**リストと異なり最後の要素が含まれる 

切り出しを行うかわりに，抽出したい列名のリストを用いて，$[ 'がく片長', '花びら幅'  ]$ などと切り出しをしてもよい． 


通常のスライシングと同様に，すべての行もしくは列を抽出したい場合には，$ : $ と記述すればよい．

たとえば，1列目から2列目までから成るデータフレームを切り出すには，

```python
 df.iloc[ : , 1:3]  
```

とすればよい．

In [ ]:
df.iloc[1:5,1:4] #1行目から4行目まで，1列目から3列目までを抽出

In [ ]:
df.loc[1:5, 'がく片長':'花びら幅' ] #行をインデックスで，}列を列名で指定（最後が含まれることに注意！）

In [ ]:
df.loc[1:5, ['がく片長','花びら幅'] ]  #列をリストで指定

### 問題

1. iloc属性を用いて5番目から8番目までの行の2,3列目を抽出せよ．

2. loc属性を用いて'種類'だけの列から成るシリーズを抽出せよ．

3. インデックスが $2,6,4$ の行と'がく片長','花びら幅','花びら長'の列から成るデータフレームを抽出せよ．

# データの並べ替え

車の燃費データを列'mpg'の昇順に並べ替えてみよう．そのためには，データフレームのsort_valuesメソッドを用いる．

```python
 car.sort_values('mpg')
```

これだと燃費の悪い順に並ぶので，良い順に並べてみよう．そのためには，引数の ascending を False に設定すればよい（規定値はTrueで昇順）．

以下に示すようにマツダのファミリア(glc はgreat little carの略称）が最もよいことが分かる．

In [ ]:
L = ['mpg', 'cylinders', 'displacement', 'horsepower','weight', 'acceleration','year','origin', 'name']
car = pd.read_csv('http://logopt.com/data/auto-mpg.data', delim_whitespace=True, names=L)
car.sort_values('mpg',ascending=False).head()

### 問題

車の燃費データを加速(acceleration)の良い順（大きいほど良い）に並べてみよう．どの車が一番加速が良いか？

また，一番重たい(weight)車は何か調べてみよう．

# データの抽出

データフレームからデータを条件によってフィルタリングしたいことがままある．

これは，NumPyのインデックス配列の概念と同じようにして行うことができる．

たとえば，アヤメのデータに対して「がく片長」が7以上のときTrue，そうでないときFalseのシリーズ（これはNumPyの配列と同じ機能をもつ）は，

``` python 
df.がく片長 >=7.0 
```

で生成される．この配列をインデックスとしてアヤメのデータフレーム df からデータを切り出すことによって，「がく片長」が7以上のデータのみを抽出することができる．

これから，がく片長」が7以上のアヤメは1つを除いてバージニカであることが分かる．

In [ ]:
df[ df.がく片長 >=7.0 ]

### 論理条件による抽出 & (and)

今度は「がく片長」だけでなく「花びら長」も考慮して区別しきれなかった2種類のアヤメを判別しよう．

「がく片長」が7以上で**かつ**「花びら長」が5以上のアヤメをデータフレームdfから抽出するには，and をあらわす**&** を用いる．

各条件式を( ) で括るのを忘れないように！

この2つの条件を満たすのはバージニカだけのようだ．

In [ ]:
df[ (df.がく片長 >=7.0) & (df.花びら長>=5.0)  ]

### 論理条件による抽出 | (or)

今度は「がく片長」が4.8未満または「花びら長」が1.3未満のものを抽出してみよう．

「または」は or をあらわす**|** を用いる．

各条件式を( ) で括るのを忘れないように！

この2つの条件を満たすのはセントーサだけのようだ．

In [ ]:
df[ (df.がく片長 <4.8) | (df.花びら長 < 1.3) ]

### 問題

1. 花びら幅が 0.5 より小さいアヤメを抽出したデータフレームを生成せよ．

2. 花びら幅が 0.5 未満でかつ花びら長が1.5未満のアヤメを抽出せよ．

3. 種類が 'Iris-setosa'のアヤメだけを抽出したデータフレームを生成し，データの概要のdescribeメソッドを用いて表示せよ．
同様の操作を他の2種類のアヤメに対しても行え．これから各アヤメの種類の特徴が分かるか考察せよ．

# グループ化

上では種類が 'Iris-setosa'のアヤメだけを抽出して，それに対する平均などを計算して分析を行った．

これをすべてのアヤメの種類に対して一度にできたら便利そうだ．

それを行う方法が**グループ化**であり，メソッド名は**groupby**だ．

列「種類」に対してグループ化を行い，グループ内のデータに対する平均をとるには，meanメソッドを用いればよい．

（より詳細な分析をしたい場合には describeメソッドを使えばよい．）

In [ ]:
df.groupby('種類').mean()
df.groupby('種類').describe()

### 問題

以下の国別のアルコール摂取量のデータを用いて，大陸(continent)別のビール，蒸留酒，ワインの摂取量の平均を求めよ．

In [ ]:
drinks = pd.read_csv('http://logopt.com/data/drinks.csv')
drinks.head()

# 行と列の削除

前に学んだ iloc や locを用いても行や列の削除を行うことができるが，1行だけとか1列だけを削除したい場合には ** dropメソッド **を用いる方が簡単だ．


例として，大陸別の飲酒データから，大陸（continent)を表す列を削除してみよう．

ここでdropメソッドの重要な引数として**axis**がある．これは軸を表し，**axis=0**のときが行の削除で，**axis=1**のときが列の削除になる．

In [ ]:
drinks = pd.read_csv('http://logopt.com/data/drinks.csv')
drinks.head()

In [ ]:
drinks.drop('continent', axis=1).head() #　大陸(continent)の列を削除

In [ ]:
drinks.drop(2, axis=0).head() #インデックス２の行を削除

### 問題

* アヤメのデータを読み込み「がく片長」の列を削除した新しいデータフレームを生成せよ．

* 上のデータフレームから3番目と5番目の行を削除せよ．（ヒント：元のデータデータフレームに削除を適用するためには，dropメソッドinplace引数をTrueに設定する．既定値はinplace=Falseである．）

# 欠損値の処理

実際のデータでは，値が入っていない欠損値を含む場合が多い．欠損値はpandasでは**NaN**(Not A Number）と名付けられた特殊な値で表される．これは，numpyのnanオブジェクトであり，read_csv関数でデータを読んだときに，値が入っていない場合には，自動的にNaNが代入される．

例としてUFO（未確認飛行物体）の目撃情報のデータを読んでみよう．

In [ ]:
ufo = pd.read_csv('http://logopt.com/data/ufo.csv')
ufo.tail()

データには多くの**NaN**（欠損値）を含まれる．

欠損値のある行を削除するには ** dropnaメソッド ** を用いる．

In [ ]:
ufo.dropna().tail()

欠損値を適当な値で置き換えたい場合には**fillnaメソッド**を用いる．

たとえば，欠損値を'Unknown'で置き換えたい場合には，以下のようにする．

In [ ]:
ufo.fillna('Unknown').tail()

### 問題

* 上のUFOデータに対して，町(City列）の欠損値を'場所不明'に，色（Colors Reported列）の欠損値を'たぶん白'に置き換えよ．

（ヒント１：元のデータデータフレームに欠損値処理の結果を適用するためには，inplace引数をTrueに設定する．既定値はinplace=Falseである．）

（ヒント２：特定の列を選択する方法については，だいぶ前に学んだはず．）

# データ型の変更と文字列の操作

データフレームの各列は，同じデータ型をもつ必要がある（NumPyの配列だからだ）．

データ型のチェックは，デーフレームの**dtypes属性**をみればよい．

データ型を変更したいときには，**astypeメソッド**を用いる．引数は変更したいデータの型を入れる（整数ならint，浮動小数点数ならfloatなど）．

例として国別の飲酒量のデータを用いる．

In [ ]:
drinks = pd.read_csv('http://logopt.com/data/drinks.csv')
drinks.dtypes

beer_servingの列は整数になっているが，astypeメソッドを用いて，データ型を浮動小数点数**float**に変えてみよう．

In [ ]:
drinks['beer_servings'] = drinks.beer_servings.astype(float)
drinks.dtypes

read_csv関数で読み込むときに，データ型を指定することもできる．

引数の**dtype**に列名をキー，データ型を値とした辞書で指定する．

In [ ]:
drinks = pd.read_csv('http://bit.ly/drinksbycountry', dtype={'beer_servings':float, 'spirit_servings':float})
drinks.dtypes

データに文字列の操作を行いたいときには，**str**を付加してから，文字列のメソッドを書く．

たとえば，国名(country)を大文字に変換したいときには，**str.upper()**とする．

In [ ]:
drinks['country'] = drinks.country.str.upper()
drinks.head()

### 問題

1. 国別の飲酒量のデータdrinks.csvを，すべての数値を浮動小数点数として読み込め．
2. 国別の飲酒量のデータdrinks.csvを読み込み，大陸列にある'Asia'を'アジア'に置換せよ．
（ヒント：文字列の置換はreplaceメソッドを用いる．）

# 日付時刻型 datetime の使用法

日付や時刻は**datetime**オブジェクトとして管理すると楽だ．

まずは未確認飛行物体のデータufoを読み込んでTime列のデータ型を確認してみよう．

データ型のチェックは，上で学んだように**dtypes属性**をみればよい．

In [ ]:
ufo = pd.read_csv('http://logopt.com/data/ufo.csv')
ufo.dtypes

Time列のデータ型は一般の object となっているようだ．

これを日付時刻型 datetime に変換するには，pandasの**pd.to_datetime関数**を用いる．

変換した列を新たに DateTime 列に保管しておく．

In [ ]:
ufo['DateTime'] = pd.to_datetime(ufo.Time) 
ufo.head()

In [ ]:
ufo.dtypes #データ型を確認

In [ ]:
# 日付時刻列の最大値と最小値の差を計算（結果は timedelta 型）し，それを日に換算して表示
time_delta = ufo.DateTime.max() - ufo.DateTime.min()
time_delta.days

### 　問題

* 未確認飛行物体のデータufoに対して，日付時刻列 DateTime から年を抽出した列　Year を生成せよ．
（ヒント：日付時刻型のから年を計算するには，** dt.year**とすればよい．）

* 未確認飛行物体のデータufoに対して，日付時刻列 DateTime から曜日を抽出した列 WeekDay を生成せよ．
（ヒント：日付時刻型のから曜日を求めるには**dt.weekday**とすればよい．）

* 未確認飛行物体のデータufoに対して，2000年以降のデータだけを抽出せよ．
（ヒント：2000年ちょうどの日付時刻は ** ts = pd.to_datetime('1/1/2000')** で得られる．）

### データフレームの生成法

ここでは，他のPythonオブジェクトからデータフレームやシリーズを生成する方法について述べる．

もっと簡単なのは，辞書から生成する方法である．

辞書のキーが列名：リストとして与えた値が行になる．

In [ ]:
D = {'name':['Pikacyu', 'Mickey', 'Kitty'], 'color':['Yellow', 'Black', 'White']}
pd.DataFrame(D)

リストのリスト（入れ子のリスト）として与えることもできるが，列名は別途**columns**で与える必要がある．

In [ ]:
L = [ ['Pikacyu', 'Yellow'], ['Mickey', 'Black'], ['Kitty', 'White']]
pd.DataFrame(L, columns=['name','color'])

NumPyの配列からもデータフレームを生成できる．

例として2つのサイコロを5回づつ振ったときの目をランダムに生成した配列に代入し，そこからデータフレームを生成する．

In [ ]:
import numpy as np
Dice = np.random.randint(1,6, size=(5,2))
dicedf = pd.DataFrame(Dice, columns=[ 'dice1', 'dice2'] )
dicedf

同様に，コインを5回投げたときの表裏を0,1で表した配列を生成する．

In [ ]:
Coin = np.random.randint(0,2, size=(5,2)) # 引数の（low, high）はhighを含まないことに注意
coindf = pd.DataFrame(Coin, columns=[ 'coin1', 'coin2'] )
coindf

2つのデータフレームを**concat**を用いて合体させる．列方向で合併したいので，**axis=1**と設定する．

In [ ]:
pd.concat( [dicedf, coindf], axis =1 )

###  ピボットテーブル

ビデオゲームのセールスデータ"http://logopt.com/data/vgsales.csv" をピボットテーブルを用いて集計する．

pandasの**pivot_table**関数は，引数としてデータフレーム，集計する値(values)，行（index），列(columns），集計関数(aggfunc)を与えると，ピボットテーブルを返す．

例としてビデオゲームのデータに対して，行を年('Year')，列をジャンル('Genre')とし，世界中での売り上げ('Global_Sales')を合計（'sum')したピボットテーブルを生成する．

集計の方法は引数**aggfunc**で与える．規定値はNumPyの**mean**（平均）である．

In [ ]:
import pandas as pd
sales = pd.read_csv("http://logopt.com/data/vgsales.csv")
sales.head()

In [ ]:
pivot = pd.pivot_table(sales, values="Global_Sales",index="Year", columns="Genre", aggfunc="sum")
pivot.head() # ピボットテーブル自身がデータフレームオブジェクトなので，最初の5行だけ表示するにはheadメソッドが使える．

In [ ]:
%matplotlib inline
pivot.plot() #ピボットテーブル自身がデータフレームオブジェクトなので，plotメソッドで描画もできる．

### 問題

ポケモンデータ http://logopt.com/data/Pokemon.csv" に対して，メインタイプ（'Type 1')と世代('Generation')別の攻撃力（'Attack'）と守備力（'Defense'）の平均を集計せよ．

（ヒント：pivot_tableで，集計値に複数の値を設定するには，引数**values**にデータフレームの列名をリストとして与える．）

In [ ]:
import pandas as pd
poke = pd.read_csv("http://logopt.com/data/Pokemon.csv",index_col=0)
poke.head()